@import "button";

#viewport {
  margin: 10px auto 0 auto;
  width: 90%;
}

#button-bar {
  margin: 0 auto 10px auto;
  overflow: hidden;
  width: 90%;
  display: none;
}

.button {
  min-width: 50px;
  min-height: 30px;
  float: left;
  margin-right: 10px;
  position: relative;
}

.pointer {
  position: fixed;
}

.point {
  position: absolute;
  width: 5px;
  height: 5px;
  background: black;
}

.line {
  .top1left1 {
    left: 15px;
    top: 12px;
  }
  .top1left2 {
    left: 22px;
    top: 12px;
  }
  .top1left3 {
    left: 29px;
    top: 12px;
  }
}

.square {
  .top1left1 {
    top: 9px;
    left: 19px;
  }
  .top1left2 {
    top: 9px;
    left: 26px;
  }
  .top2left1 {
    top: 16px;
    left: 19px;
  }
  .top2left2 {
    top: 16px;
    left: 26px;
  }
}

.glider {
  .top1left3 {
    top: 6px;
    left: 30px;
  }
  .top2left3 {
    left: 30px;
    top: 13px;
  }
  .top3left3 {
    left: 30px;
    top: 20px;
  }
  .top3left2 {
    left: 23px;
    top: 20px;
  }
  .top2left1 {
    top: 13px;
    left: 16px;
  }
}

rect {
  &.live {
    fill: slategrey;
    &.player1 {
      fill: green;
    }
    &.player2 {
      fill: blue;
    }
  }
  &.dead {
    stroke: #70DBD1;
    stroke-width: 0.1;
    fill: transparent;

    &.hover {
      fill: #CCFFFF;
    }
    &.fog {
      fill: lightgrey;
    }
  }
  &.new {
    fill: #CB60E6;
  }

  &.winSpot1 {
    stroke: lightblue;
    stroke-width: 4;
  }
  &.winSpot2 {
    stroke: lightgreen;
    stroke-width: 4;
  }
}
