html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0 auto;
}

rect {
  &.live {
    fill: slategrey;
    &.player1 {
      fill: green;
    }
    &.player2 {
      fill: blue;
    }
  }
  &.dead {
    stroke: #70DBD1;
    stroke-width: 0.1;
    fill: transparent;

    &:hover {
      fill: #CCFFFF;
    }

    &.fog, &.fog:hover {
      fill: lightgrey;
    }
  }
  &.new {
    fill: #CB60E6;
  }
}
